<!DOCTYPE html>
<html lang="en">
<div class="regcontainer">
<head>
  <meta charset="UTF-8">
  <h1>Holy Name Father's Guild</h1>
</head>
<body>
<p>We are a non-profit organization, celebrating 37 years of  providing sports programs for over 500 children in Holy Name parish / Windsor Terrace community located in Brooklyn, New York.</p>
</body>
</div>
</html>
