<!DOCTYPE html>
<html lang="en">
<div class="gradient-overlay">
<head>
  <meta charset="UTF-8">
<div class="regcontainer">
  <h1>Holy Name Father's Guild</h1>
</head>
<body>
  <p>
We are a non-profit organization, celebrating 37 years<br>of  providing sports programs for over 500 children in <br> Holy Name parish / Windsor Terrace community <br>located in Brooklyn, New York.
</p>
</div>
</div>

<div class="pic-container">
  <a div class="picture1" href="myfile.htm"><img src="http://i38.photobucket.com/albums/e112/Tino221/soccer.jpg"></a>
  </div>
</div>

  <div class="pic-container2">
  <a div class="picture2" href="myfile.htm"><img src="http://i38.photobucket.com/albums/e112/Tino221/soccer2-1.jpg"></a>
  </div>
</div>

  <div class="pic-container3">
  <a div class="picture3" href="myfile.htm"><img src="http://i38.photobucket.com/albums/e112/Tino221/flag_football.jpg"></a>
  </div>
</div>


<div class="pic-container4">
  <a div class="picture4" href="myfile.htm"><img src="http://i38.photobucket.com/albums/e112/Tino221/flag_football2-1.jpg"></a>
  </div>
</div>




<div class="main-content">
  <p>
    We continue to believe, that through our commitment, we help you in your endeavor to have a positive impact on your children’s lives through sports.<br><br>
    These activies are not sponsored or endorsed by the NYC Dept of Education or the city of New York.
    <br><br>

    Please be careful when ordering uniforms. They are custom made and we don't keep them in stock.<br> So if you make a mistake you may be charged for a new uniform. <br><br>It is better to go larger then smaller, larger uniforms can be tuck in or have a sweat shirt under them.
<br><br>
Shepherd's Hall/Rectory basement are located in the school yard, behind the church at 245 Prospect Park West.
<br><br>
  </p>
  </div>

  <div class="bluebox">
    <div class="regcontainer2">
  <h1>Contact Us</h1>
</head>
<body>
  <p>
President Tom Larkin<br><bold>Holynamefathersguild@gmail.com<br>718-851-1722</bold>
</p>
</div>

  </div>



</body>
</html>


