/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  background-color: white;
}

.regcontainer {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  border-radius: 3px;
  text-align: center;
  display: block;
  padding-top: 70px;
  padding-bottom: 70px;
}

.content {
  padding-top:65px;
  width:220px;
}


.gradient-overlay {
background-image: -webkit-gradient(linear, left top, right top, from(rgba(21,204,170,0.6)), to(rgba(18,181,234,0.6)));
}

h1 {
font: 35pt Rokkitt;
text-transform: none;
letter-spacing: 0;
}

p {
  font: Rokkitt;
text-transform: none;
letter-spacing: 0;}

.main-content {
width: auto;
margin: 0 auto;
overflow: auto;
padding: 70px 0;
text-align: center;
letter-spacing: 1px;
}

.pic-container img {
  width: 25%;
  float: left;
  height: 250px;
}


.pic-container2 img {
  width: 25%;
  float: left;
  height: 250px;
}



.pic-container3 img {
  width: 25%;
  float: left;
  height: 250px;
}


.pic-container4 img {
  width: 25%;
  height: 250px;
}

.picture-inline {
  display: inline;
  width: 100%;

}
